body {
        background-image: url("assets/stars.png");
    background-color: #000000;
    color: white;
    font-family: 'Barrio', cursive;
}

canvas {
    margin: auto;
    margin-top: 3%;
    border-width: 20px;
    
    -webkit-border-image: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); 

}